<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveConfiguration</key>
	<string>$(ACTIVE_CONFIGURATION)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RevolutionBuy</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>li4857901</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.771500869848-9qpv7nl6kvm4g53efu5fquu4im8qbrv7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.RevouldtionBuy.DeepLink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>RevBuyDeepLink</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1051478504985433</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>revolutionPayment</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>paypalcancel</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>paypalsuccess</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>468e6efd58d9667376d751c387e24a0439171c11</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>MMCLgX0uCbYaclfLHudmGmLLv</string>
					<key>consumerSecret</key>
					<string>nhIchPNZ5uhyQchci2C8u4c9V4Pn975UFETrNYpYACjpd45zsr</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1051478504985433</string>
	<key>FacebookDisplayName</key>
	<string>TestFBApp</string>
	<key>LIAppId</key>
	<string>4857901</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
		<string>fb</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) wants to access your camera to take images and it will be displayed as Profile Picture &amp; Product Images.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) wants to access photo library to import pictures and it will be displayed as Profile Picture &amp; Product Images.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AvenirLTStd-Black.otf</string>
		<string>AvenirLTStd-BlackOblique.otf</string>
		<string>AvenirLTStd-Book.otf</string>
		<string>AvenirLTStd-BookOblique.otf</string>
		<string>AvenirLTStd-Heavy.otf</string>
		<string>AvenirLTStd-HeavyOblique.otf</string>
		<string>AvenirLTStd-Light.otf</string>
		<string>AvenirLTStd-LightOblique.otf</string>
		<string>AvenirLTStd-Medium.otf</string>
		<string>AvenirLTStd-MediumOblique.otf</string>
		<string>AvenirLTStd-Oblique.otf</string>
		<string>AvenirLTStd-Roman.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Seller</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
