<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>Antiques</string>
		<key>title</key>
		<string>Antiques</string>
		<key>catId</key>
		<string>1</string>
		<key>ImageOutStock</key>
		<string>AntiquesOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Automotive</string>
		<key>title</key>
		<string>Automotive</string>
		<key>catId</key>
		<string>2</string>
		<key>ImageOutStock</key>
		<string>AutomotiveOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Baby</string>
		<key>title</key>
		<string>Baby</string>
		<key>catId</key>
		<string>3</string>
		<key>ImageOutStock</key>
		<string>BabyOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Clothing</string>
		<key>title</key>
		<string>Clothing &amp; Accessories</string>
		<key>catId</key>
		<string>4</string>
		<key>ImageOutStock</key>
		<string>ClothingOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Collectibles</string>
		<key>title</key>
		<string>Collectibles</string>
		<key>catId</key>
		<string>5</string>
		<key>ImageOutStock</key>
		<string>CollectiblesOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Electronics</string>
		<key>title</key>
		<string>Electronics</string>
		<key>catId</key>
		<string>6</string>
		<key>ImageOutStock</key>
		<string>ElectronicsOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Health</string>
		<key>title</key>
		<string>Health &amp; Beauty</string>
		<key>catId</key>
		<string>7</string>
		<key>ImageOutStock</key>
		<string>HealthOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Home</string>
		<key>title</key>
		<string>Home &amp; Garden</string>
		<key>catId</key>
		<string>8</string>
		<key>ImageOutStock</key>
		<string>HomeOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Jewellery</string>
		<key>title</key>
		<string>Jewellery &amp; Watches</string>
		<key>catId</key>
		<string>9</string>
		<key>ImageOutStock</key>
		<string>JewelleryOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Musical</string>
		<key>title</key>
		<string>Musical Instruments &amp; Equipment</string>
		<key>catId</key>
		<string>10</string>
		<key>ImageOutStock</key>
		<string>MusicalOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Shoes</string>
		<key>title</key>
		<string>Shoes</string>
		<key>catId</key>
		<string>11</string>
		<key>ImageOutStock</key>
		<string>ShoesOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Sporting</string>
		<key>title</key>
		<string>Sporting Goods</string>
		<key>catId</key>
		<string>12</string>
		<key>ImageOutStock</key>
		<string>SportingOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Tools</string>
		<key>title</key>
		<string>Tools &amp; Trades</string>
		<key>catId</key>
		<string>13</string>
		<key>ImageOutStock</key>
		<string>ToolsOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Toys</string>
		<key>title</key>
		<string>Toys</string>
		<key>catId</key>
		<string>14</string>
		<key>ImageOutStock</key>
		<string>ToysOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Video</string>
		<key>title</key>
		<string>Video Games &amp; Accessories</string>
		<key>catId</key>
		<string>15</string>
		<key>ImageOutStock</key>
		<string>VideoOutStock</string>
	</dict>
	<dict>
		<key>image</key>
		<string>Everything</string>
		<key>title</key>
		<string>Everything Else</string>
		<key>catId</key>
		<string>16</string>
		<key>ImageOutStock</key>
		<string>EverythingOutStock</string>
	</dict>
</array>
</plist>
